@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

body {
    max-width: 1140px;
    margin: auto;
    font-family: 'Work Sans';
    font-size: 14px;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 50px 0
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C
}

h1>span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;

}

nav li {
    padding: 0 10px;
    font-size: 1.2em;
}

li img {
    width: 20px;
}

h2 {
    font-family: 'syne';
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    color: #1D6154;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

label {
    color: #3D3D3D;
    margin-bottom: 7px;
    margin-top: 30px;
    margin-left: -333px;
}

#email,
#password {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    width: 379px;
    height: 51px;
    border: white;
}

#connect {
    font-family: 'syne';
    font-weight: 700;
    color: white;
    background: #1D6154;
    border-radius: 60px;
    border: #1D6154;
    width: 179px;
    height: 36px;
    margin-top: 37px;
    margin-bottom: 28px;
}

a {
    font-weight: 500;
    color: #3D3D3D;
    margin-bottom: 379px;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em
}